[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"
pyqt5 = "*"
jupyter = "*"
jupytext = "*"

[packages]
numpy = "*"
opencv-python = "*"

[requires]
python_version = "3.6"
